*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
.top{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: large;
}
a {
    text-decoration: none;
    color: white;
}


.bar{
     width: 100%;
     height: 100vh;
     background-image:url("cohort24-IP2/Assets/hero-cover.3.png") ;
     background-size: cover;
     position: relative;
 }

li{
    list-style: none;
    justify-content: space-around;
    margin-right: 80px;
    display: inline;
}
.buttons{
    display: inline;
    position: relative;
    top: -10px;
}
 button {
    cursor: pointer;
    color: #fff;
    border: none;
}
.login {
    background-color: transparent;
    font-size: 18px;
    padding-right: 30px;
}
.sign-up{
    background-color: #23a6f0;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}
.hero-message{
    margin-top: 150px;
    text-align: center;
    color: white;
}
.hero-message h2{
    font-size: 60px;
    font-weight: bolder;

}
.message{
    font-size: 20px;
    margin-top: 50px;
}
.hero-buttons{
    border-radius: 50px;
    padding: 15px 30px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    justify-content: space-between;
}
.quote{
    height: 35px;
    width: 120px;
    border-radius: 70px;
    background-color: #23A6F0;
}
.learn-more {
    height: 35px;
    width: 100px;
    border-radius: 70px;
    background-color: transparent;
    border: 1px solid white;
}
.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    padding: 100px 0;
    column-gap: 30px;
}
.box {
    z-index: 10;
    margin-top: -15%;
    flex-basis: 25%;
    background-color: #fff;
    flex-wrap: wrap;
    padding: 40px 10px 40px 30px;
    text-align: left;
    color: #252b42;
}

.box:last-child {
    background-color: #23a6f0;
    color: #fff;
}

.box-header,
.box-text {
    width: 70%;
    margin-top: 10px;
}


.child-box {
    display: flex;
    column-gap: 10%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 150px 0;
}

 .child {
    text-align: center;
    flex-basis: 15%;
}

.child h3 {
    color: #252b42;
    margin-top: 20px;
}

.child p {
    margin-top: 20px;
    font-size: 14px;
    color: gray;
}

.industry {
    background-color: rgba(245, 245, 245, 0.5);
}

.industry-msg {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    column-gap: 4%;
    flex-wrap: wrap;
}

.client {
    padding: 40px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #fff;

}
.ratings checked {
    color: orange;
}
.ratings noncheck{
    opacity: .3;
}
.ratings{
    padding:15px 0px ;
}
.clients {
    flex-basis: 20%;
}
.header{
    text-align: center;
}
.icons-img{
    display: flex;
    flex-direction: row;
    padding: 80px;
    justify-content: space-between;
    position: relative;
    top: 100px;

}
.subscribe {
    display: flex;
    width: 80%;
    padding: 70px;
    margin-left: 40px;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(to right, #252b42, rgb(252, 0, 155));
}
.subscribe>h2{
    flex-basis: 30%;
    color: #fff;
}
.subscribe>form{
    background-color: #fff;
    border-radius: 4px;
}

.subscribe button {
    padding: 24px 30px;
    border: 1px solid #fff;
    border-radius: 0 4px 4px 0;
    background-color: #23a6f0;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.subscribe input{
    width: 500px;
    height: 70px;
    border: none;
    font-size: 16px;
    padding-left: 10px;
}
.prizing{
    padding: 30px;
    text-align: center;
}
.prizes{
    display: flex;
    margin-top: 25px;
    padding: 150px;
}
.standard{
    padding: 25px;
    background-color: #252b42;
    color: whitesmoke;
    margin-top: -20px;
}
.prizes button {
    background-color: #23A6F0;
    padding: 10px;
    font-weight: bold;
    width: 80%;
    border: none;
    border-radius: 2px;
    color: white;
}
.card{
    flex-direction: row;
}
.world{
    background-color: #252b42;
    margin-top: 20px;
}
.branches{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.branches-msg{
    margin-top: 30px;
    padding-left: 100px;
    color: white;
}
.map{
    margin-top: 50px;
    padding-right: 250px;
}

.map img{
    height: 150px;
}
.booking{
    padding-left: 25%;
}
.row{
    display: flex;
    margin-top: 50px;
}
.family-img{
    position: relative;
    margin-bottom: -150px;
}
.form{
    padding: 25px;
    background-color: white;
    flex-direction: column;
    width: 40%;
    position: relative;
    margin-bottom: -150px;
}
.form h2{
    text-align: center;
}

